@charset "UTF-8";
@font-face {
  font-family: "shrikhand";
  src: url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: black;
}

body {
  max-width: 768px;
  margin: auto;
  font-family: "roboto";
}

.header {
  width: 100%;
  box-shadow: 0 6px 10px #dddddd;
  display: flex;
  align-items: center;
}
.header__img {
  width: 50%;
  margin: 0 auto;
  margin-right: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header i {
  font-size: 20px;
  margin-left: 25px;
  animation: animation-retour-fin 1s both;
}
.header i:hover {
  animation: animation-retour 1s both;
}

@keyframes animation-retour {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes animation-retour-fin {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
h2 {
  margin: 0;
}

.section_informations {
  width: 100%;
  margin-top: 2px;
}
.section_informations__localisation {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 40px;
  background-color: #e4e4e4;
  margin-bottom: 0;
}
.section_informations__localisation__icone {
  margin-right: 30px;
  margin-left: 25%;
}
.section_informations__localisation p {
  margin: 0;
  margin-top: 10px;
}
.section_informations__restaurants {
  text-align: center;
  background-color: #f6f6f6;
  margin-top: 0;
  padding: 40px;
  justify-content: center;
  align-items: center;
}
.section_informations__restaurants__titre {
  margin-left: 10px;
  margin-right: 10px;
}
.section_informations__restaurants a {
  margin: 0;
  justify-content: center;
}
.section_informations__fonctionnement {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  flex-direction: column;
}
.section_informations__fonctionnement i {
  margin-left: 30px;
  font-size: 15px;
  width: 15px;
  color: #7e7e7e;
}
.section_informations__fonctionnement h3 {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
}
.section_informations__fonctionnement__etape {
  display: flex;
  align-items: baseline;
  align-items: center;
  margin-left: 5%;
  height: 70px;
  margin-top: 30px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 6px 6px 10px #dddddd;
  position: relative;
}
.section_informations__fonctionnement__etape:hover {
  background-color: #f5edff;
}
.section_informations__fonctionnement__etape:hover i {
  color: #9356DC;
}
.section_informations__fonctionnement__etape p {
  background-color: #9356DC;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  text-align: center;
  vertical-align: center;
  color: white;
  position: absolute;
  left: -10px;
  padding: 2px;
  top: 25px;
}

.boutton {
  background: linear-gradient(150deg, #FF79DA, #9356DC);
  height: 40px;
  width: 200px;
  border-radius: 40px;
  color: white;
  margin: 0 auto;
  box-shadow: 6px 6px 10px #dddddd;
  margin-top: 30px;
  padding: 5px;
}
.boutton p {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}
.boutton--pages {
  width: 170px;
}

.section_restaurants {
  width: 100%;
  background-color: #f6f6f6;
  height: auto;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
}
.section_restaurants h2 {
  margin-left: 5%;
}
.section_restaurants__bloc {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}
.section_restaurants__bloc__figure {
  width: 100%;
  height: 250px;
  margin: 0;
  margin-top: 20px;
  background-color: white;
  box-shadow: 6px 6px 10px #dddddd;
  border-radius: 20px;
  position: relative;
}
.section_restaurants__bloc__figure__info {
  margin-top: 2%;
  margin-left: 5%;
  width: 100%;
}
.section_restaurants__bloc__figure__nouveau {
  background-color: #99E2D0;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #278870;
}
.section_restaurants__bloc__figure figcaption {
  display: flex;
  justify-content: space-between;
}
.section_restaurants__bloc__figure h3, .section_restaurants__bloc__figure p {
  margin: 0;
  margin-top: 2%;
}
.section_restaurants__bloc__figure img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center bottom;
}
.section_restaurants__bloc__figure .far {
  align-self: center;
  font-size: 24px;
  margin-right: 10%;
}
.section_restaurants__bloc a {
  width: 100%;
  height: 210px;
}

.coeur {
  position: relative;
}
.coeur__plein {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  color: transparent;
  -webkit-background-clip: text;
  background: linear-gradient(red, blue);
}
.coeur__plein:hover {
  animation: favoris-plein 2s both;
}

@keyframes favoris-plein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#image {
  object-position: center;
}

footer {
  margin-bottom: 2000px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 30px;
  flex-direction: column;
}
.footer a {
  color: white;
  margin-top: 5px;
}
.footer h2 {
  font-family: "shrikhand";
  font-size: 20px;
  padding-bottom: 10px;
}
.footer p {
  margin: 0;
  margin-top: 8px;
}
.footer__maj {
  display: flex;
  align-items: baseline;
}
.footer__maj h3 {
  margin: 0;
  font-size: 15px;
}
.footer__maj i {
  margin-right: 15px;
  font-size: 13px;
  width: 15px;
}

#images-pages {
  width: 100%;
  object-fit: cover;
}

#main_Palette-du-gout {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: contain;
}

#main_la-note-enchante {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: contain;
  background-position: center;
}

#main_a-la-française {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: contain;
}

#main_delice-des-sens {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: contain;
}

.image {
  height: 200px;
  width: 100%;
}

.menu {
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  border-radius: 30px 30px 0 0;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 5%;
  font-family: "shrikhand";
  font-size: 13px;
  margin-bottom: 40px;
}
.menu__titre .far {
  font-size: 25px;
  margin-right: 25px;
}
.menu__titre h1 {
  margin: 0;
  margin-top: 30px;
}
.menu__barre {
  width: 40px;
  height: 3px;
  margin-top: 5px;
  margin-left: 5%;
  background-color: #99E2D0;
}
.menu__epd {
  margin: 0;
  margin-left: 5%;
}
.menu__bloc {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 40px;
}
.menu__bloc__plats {
  width: 100%;
  display: flex;
  background-color: white;
  box-shadow: 6px 6px 10px #dddddd;
  border-radius: 15px;
  height: 60px;
  margin-top: 10px;
  overflow: hidden;
  animation: affichage-menu 1s both;
}
.menu__bloc__plats p {
  margin: 0;
  margin-left: 4%;
  white-space: nowrap;
  font-size: 18px;
}
.menu__bloc__plats__infos {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.menu__bloc__plats__infos__sup {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 7%;
  margin-top: 3px;
}
.menu__bloc__plats__infos__sup p {
  font-size: 15px;
}
.menu__bloc__plats__infos__sup__cesure {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__bloc__plats__confirm {
  height: 100%;
  background-color: #99E2D0;
  width: 0;
  justify-content: center;
  align-items: center;
}
.menu__bloc__plats__confirm i {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}
.menu__bloc__plats:hover .menu__bloc__plats__confirm {
  animation: confirm 0.7s both;
}
.menu__bloc__plats:hover i {
  animation: icone-confirm 0.7s both;
}
.menu__bloc__plats:not(:hover) .menu__bloc__plats__confirm {
  animation: confirm-fin 0.7s both;
}

.plats-1 {
  animation-delay: 0.3s;
}

.plats-2 {
  animation-delay: 0.6s;
}

.plats-3 {
  animation-delay: 0.9s;
}

.plats-4 {
  animation-delay: 1.2s;
}

.plats-5 {
  animation-delay: 1.5s;
}

.plats-6 {
  animation-delay: 1.8s;
}

.plats-7 {
  animation-delay: 2.1s;
}

.plats-8 {
  animation-delay: 2.4s;
}

.plats-9 {
  animation-delay: 2.7s;
}

.plats-10 {
  animation-delay: 3s;
}

@keyframes confirm {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}
@keyframes confirm-fin {
  0% {
    width: 20%;
  }
  100% {
    width: 0;
  }
}
@keyframes icone-confirm {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes affichage-menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.loading-spinner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.loading-spinner__contour {
  border: 3px #f6f6f6 solid;
  border-top-color: #99E2D0;
  border-radius: 50%;
  animation: rotation 1000ms both infinite alternate;
}
.loading-spinner__contour__point {
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 50%;
  background: linear-gradient(#9356DC, #FF79DA);
  animation: loading 1s both infinite;
  animation-direction: alternate;
}
.loading-spinner__contour__point--1 {
  animation-delay: 250ms;
}
.loading-spinner__contour__point--2 {
  animation-delay: 500ms;
}
.loading-spinner__contour__point--3 {
  animation-delay: 750ms;
}
.loading-spinner__contour__point--4 {
  animation-delay: 1000ms;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
