@import "Utils/variables";

@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a{
    text-decoration: none;
    color:black;
}

@mixin assombrir ($couleur) {
    background-color: darken($couleur,7%);
}

@mixin assombrir-couleur ($couleur) {
    color: darken($couleur,40%);
}

body{
    max-width: 768px;
    margin:auto;
    font-family: 'roboto';
}

.header{
    width: 100%;
    box-shadow: 0 6px 10px $couleur-ombre;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    &__img{
        width: 50%;
        margin: 0 auto;
        margin-right:25%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    & i {
        font-size: 25px;
        margin-left: 25px;
    }
}

h2{
    margin:0;
}

.section_informations{
    width: 100%;
    &__localisation{
        display:flex;
        align-items: baseline;
        width: 100%;
        height: 40px;
        @include assombrir($couleur-fond);
        margin-bottom:0;
        &__icone{
            margin-right: 30px;
            margin-left: 25%;
        }
        & p {
            margin: 0;
            margin-top: 10px;
        }
    }
    &__restaurants{
        text-align: center;
        background-color: $couleur-fond;
        margin-top:0;
        padding:40px;
        justify-content: center;
        align-items: center;
        &__titre{
            margin-left:10px;
            margin-right:10px;
        }
        & a {
            margin: 0;
            justify-content: center;
        }
    }
    &__fonctionnement{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 40px;
        flex-direction: column;
        & i {
            margin-left: 30px;
            font-size: 15px;
            width: 15px;
            color:#7e7e7e;
        }
        & h3{
            margin:0;
            margin-left: 20px;
            font-size: 15px;
        }
        &__etape{
            display: flex;
            align-items: baseline;
            align-items: center;
            margin-left: 5%;
            height: 70px;
            margin-top:30px;
            background-color: $couleur-fond;
            border-radius:20px;
            box-shadow: 3px 3px 15px $couleur-ombre;
            position: relative;
            &:hover{
                background-color: #f5edff;
                & i {
                    color:$couleur-primaire;
                }
            }
            & p {
                background-color: $couleur-primaire;
                margin:0;
                width: 20px;
                height: 20px;
                border-radius:  15px;
                text-align: center;
                vertical-align: center;
                color:white;
                position: absolute;
                left: -10px;
                padding: 2px;
                top:25px;
            }
        }
    }
}

.boutton{
    background: linear-gradient(150deg,$couleur-secondaire,$couleur-primaire);
    height: 40px;
    width: 200px;
    border-radius: 40px;
    color:white;
    margin: 0 auto;
    box-shadow: 3px 3px 15px $couleur-ombre;
    margin-top: 30px;
    padding: 5px;
    & p {
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    &--pages{
        width: 170px;
    }
}

.section_restaurants{
    width: 100%;
    background-color: $couleur-fond;
    height: auto;
    margin-top: 50px;
    padding-top:40px;
    padding-bottom:40px;
    flex-direction: column;
    & h2 {
        margin-left: 5%;
    }
    &__bloc{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 50px;
        &__figure{
            width: 100%;
            height: 250px;
            margin: 0;
            margin-top: 20px;
            background-color: white;
            box-shadow: 6px 6px 10px $couleur-ombre;
            border-radius: 20px;
            position: relative;
            &__info{
                margin-top:2%;
                margin-left: 5%;
                width: 100%;
            }
            &__nouveau{
                background-color: $couleur-tertiaire;
                padding: 5px 10px 5px 10px;
                border-radius:2px;
                position: absolute;
                top: 15px;
                right: 15px;
                @include assombrir-couleur($couleur-tertiaire)
            }
            & figcaption{
                display: flex;
                justify-content: space-between;
            }
            & h3, p {
                margin: 0;
                margin-top: 2%;  
            }
            & img {
                width: 100%;
                height: 70%;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
                object-position: center bottom;
            }
            & .far {
                align-self: center;
                font-size: 25px;
                margin-right: 10%;
            }
        }
        & a {
            width: 100%;
            height: 210px;
        }
    }
}

.coeur{
    position: relative;
    &__plein{
        font-size: 21px;
        position:absolute;
        top: 1px;
        right: 1px;
        left: 1px;
        bottom: 1px;
        color: white;
    }
}

#image{
    object-position: center;
}

footer{
    margin-bottom: 2000px;
}

.footer{
    background-color: $couleur-footer;
    color: white;
    padding: 30px;
    flex-direction: column;
    & a {
        color: white;
        margin-top: 5px;
    }
    & h2 {
        font-family:'shrikhand' ;
        font-size: 20px;
        padding-bottom: 10px;
    }
    & p {
        margin: 0;
        margin-top: 8px;
    }
    &__maj{
        display: flex;
        align-items: baseline;
        & h3 {
            margin: 0;
            font-size: 15px;
        }
        & i {
            margin-right: 15px;
            font-size: 13px;
            width: 15px;
        }
    }
}

#images-pages{
    width: 100%;
    object-fit:cover;
}

#main_delice{
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size:contain;
}

.image{
    height: 200px;
    width: 100%;
}

.menu{
    width: 100%;
    background-color: $couleur-fond;
    padding-bottom: 50px;
    border-radius: 30px 30px 0 0 ;
    &__titre{
        display:flex;
        justify-content: space-between;
        align-items: baseline;
        margin-left: 5%;
        font-family: 'shrikhand';
        font-size: 13px;
        margin-bottom: 40px;
        & .far {
            font-size:25px;
            margin-right: 25px;
        }
        & h1 {
            margin: 0;
            margin-top: 30px;
        }
    }
    &__barre{
        width: 40px;
        height: 3px;
        margin-top: 5px;
        margin-left: 5%;
        background-color: $couleur-tertiaire;
    }
    &__epd{
        margin: 0;
        margin-left: 5%;
    }
    &__bloc{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 40px;
        &__plats{
            width: 100%;
            background-color: white;
            box-shadow: 6px 6px 10px $couleur-ombre;
            border-radius: 15px;
            height: auto;
            padding-top: 3%;
            padding-bottom: 3%;
            margin-top: 10px;
            & p {
                margin: 0;
                margin-left:4%;
            }
            &__info{
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                margin-right: 7%;
                margin-top: 3px;
                & p {
                    font-size: 13px;
                }
            }
        }
    }
}