@import "Utils/variables";

@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a{
    text-decoration: none;
    color:black;
}

@mixin assombrir ($couleur) {
    background-color: darken($couleur,7%);
}

@mixin assombrir-couleur ($couleur) {
    color: darken($couleur,40%);
}

body{
    max-width: 768px;
    margin:auto;
    font-family: 'roboto';
}

.header{
    width: 100%;
    box-shadow: 0 6px 10px $couleur-ombre;
    margin-bottom: 2px;
    &__img{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

h2{
    margin:0;
}

.section_informations{
    width: 100%;
    &__localisation{
        display:flex;
        align-items: baseline;
        width: 100%;
        @include assombrir($couleur-fond);
        margin-bottom:0;
        &__icone{
            margin-right: 30px;
            margin-left: 25%;
        }
    }
    &__restaurants{
        text-align: center;
        background-color: $couleur-fond;
        margin-top:0;
        padding:40px;
        justify-content: center;
        align-items: center;
        &__titre{
            margin-left:10px;
            margin-right:10px;
        }
        & a {
            margin: 0;
            justify-content: center;
        }
        &__boutton{
            background: linear-gradient(150deg,$couleur-secondaire,$couleur-primaire);
            height: 50px;
            width: 210px;
            border-radius: 40px;
            color:white;
            margin: 0 auto;
            box-shadow: 6px 6px 10px $couleur-ombre;
            min-height: 50px;
            display: table-cell;
            vertical-align: center;
            & p {
                text-align: center;
                margin: 0;
            }
        }
    }
    &__fonctionnement{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 40px;
        flex-direction: column;
        & i {
            margin-left: 30px;
            font-size: 15px;
            width: 15px;
            color:#7e7e7e;
        }
        & h3{
            margin:0;
            margin-left: 20px;
            font-size: 15px;
        }
        &__etape{
            display: flex;
            align-items: baseline;
            align-items: center;
            margin-left: 5%;
            height: 70px;
            margin-top:30px;
            background-color: $couleur-fond;
            border-radius:20px;
            box-shadow: 6px 6px 10px $couleur-ombre;
            position: relative;
            &:hover{
                background-color: #f5edff;
                & i {
                    color:$couleur-primaire;
                }
            }
            & p {
                background-color: $couleur-primaire;
                margin:0;
                width: 20px;
                height: 20px;
                border-radius:  15px;
                text-align: center;
                vertical-align: center;
                color:white;
                position: absolute;
                left: -10px;
                padding: 2px;
                top:25px;
            }
        }
    }
}

.section_restaurants{
    width: 100%;
    background-color: $couleur-fond;
    height: auto;
    margin-top: 50px;
    padding-top:40px;
    padding-bottom:40px;
    flex-direction: column;
    & h2 {
        margin-left: 5%;
    }
    &__bloc{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 50px;
        &__figure{
            width: 100%;
            height: 250px;
            margin: 0;
            margin-top: 20px;
            background-color: white;
            box-shadow: 6px 6px 10px $couleur-ombre;
            border-radius: 20px;
            position: relative;
            &__info{
                margin-top:2%;
                margin-left: 5%;
                width: 100%;
            }
            &__nouveau{
                background-color: $couleur-tertiaire;
                padding: 5px 10px 5px 10px;
                border-radius:2px;
                position: absolute;
                top: 15px;
                right: 15px;
                @include assombrir-couleur($couleur-tertiaire)
            }
            & figcaption{
                display: flex;
                justify-content: space-between;
            }
            & h3, p {
                margin: 0;
                margin-top: 2%;
                
                
            }
            & img {
                width: 100%;
                height: 70%;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
                object-position: center bottom;
            }
            & i{
                align-self: center;
                font-size: 25px;
                margin-right: 10%;
            }
        }
        & a {
            width: 100%;
            height: 210px;
        }
    }
}

#image{
    object-position: center;
}

footer{
    margin-bottom: 2000px;
}

.footer{
    background-color: $couleur-footer;
    color: white;
    padding: 20px;
    flex-direction: column;
    & a {
        color: white;
        margin-top: 7px;
    }
    & h2 {
        font-family:'shrikhand' ;
        font-size: 23px;
        padding-bottom: 10px;
    }
    &__maj{
        display: flex;
        align-items: baseline;
        & h3 {
            margin: 0;
        }
        & i {
            margin-right: 15px;
            font-size: 13px;
            width: 15px;
        }
    }
}