.footer{
    background-color: $couleur-footer;
    color: white;
    padding: 30px;
    flex-direction: column;
    & a {
        color: white;
        margin-top: 5px;
    }
    & h2 {
        font-family:'shrikhand' ;
        font-size: 20px;
        padding-bottom: 10px;
    }
    & p {
        margin: 0;
        margin-top: 8px;
    }
    &__maj{
        display: flex;
        align-items: baseline;
        & h3 {
            margin: 0;
            font-size: 15px;
        }
        & i {
            margin-right: 15px;
            font-size: 13px;
            width: 15px;
        }
    }
    @include media-ipad{
        & h2 {
            text-align: center;
        }
        &__bloc{
            display: flex;
            justify-content: space-evenly;
            & p {
                margin:0;
                margin-top: 5px;
            }
        }
    }
}