.loading-spinner{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    max-width: 1600px;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    animation: loading-vu 2s both cubic-bezier(1,.06,1,-0.22);
    &__contour{
        border: 3px white solid;
        border-top-color: $couleur-tertiaire;
        border-radius: 50%;
        animation: rotation 1000ms both infinite linear;
        @for $delai from 1 to 5 {
            &--#{$delai} {
                animation-delay: #{calc(1000/4) * $delai}ms;
            }
        }
        &__point{
            width: 50px;
            height: 50px;
            margin: 20px;
            border-radius: 50%;
            animation: loading 1s both infinite alternate;
            @for $delai from 1 to 5 {
                &--#{$delai} {
                    animation-delay: #{calc(1000/4) * $delai}ms;
                }
            }
        }
    }
}