.menu{
    width: 100%;
    background-color: $couleur-fond;
    padding-bottom: 50px;
    border-radius: 30px 30px 0 0 ;
    &__titre{
        display:flex;
        justify-content: space-between;
        align-items: baseline;
        margin-left: 5%;
        font-family: 'shrikhand';
        font-size: 13px;
        margin-bottom: 40px;
        & .far {
            font-size:25px;
            margin-right: 25px;
        }
        & h1 {
            margin: 0;
            margin-top: 30px;
        }
        @include media-ordinateur{
            text-align: center;
        }
    }
    &__main{
        width: 100%;
        @include media-ipad{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__container{
            width: 100%;
            @include media-ipad{
                width: 50%;
            }
            @include media-ordinateur{
                width: 33%;
            }
            &__barre{
                width: 40px;
                height: 3px;
                margin-top: 5px;
                margin-left: 5%;
                background-color: $couleur-tertiaire;
            }
            &__epd{
                margin: 0;
                margin-left: 5%;
            }
            &__bloc{
                width: 94%;
                margin-left: 3%;
                margin-right: 3%;
                margin-bottom: 40px;
                &__plats{
                    width: 100%;
                    display: flex;
                    background-color: white;
                    @include ombrage;
                    border-radius: 15px;
                    height: 60px;
                    margin-top: 10px;
                    overflow: hidden;
                    animation: affichage-menu 1s both;
                    animation-delay: 4s;
                    & p {
                        margin: 0;
                        margin-left:4%;
                        white-space: nowrap;
                        font-size: 18px;
                    }
                    &__infos{
                        width: 100%;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        &__sup{
                            display: flex;
                            align-items: baseline;
                            justify-content: space-between;
                            margin-right: 7%;
                            margin-top: 3px;
                            & p {
                                font-size: 15px;
                            }
                            &__cesure{
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    &__confirm{
                        height: 100%;
                        background-color: $couleur-tertiaire;
                        width: 0;
                        justify-content: center;
                        align-items: center;
                        
                        & i {
                            font-size: 20px;
                            margin-top: 20px;
                            margin-left: 20px;
                            color: white;
                        }
                    }
                    &:hover{
                        & .menu__main__container__bloc__plats__confirm{
                        animation: confirm 0.7s both;
                        }
                        & i {
                            animation: icone-confirm 0.7s both;
                        }
                    }
                    &:not(:hover){
                        & .menu__main__container__bloc__plats__confirm{
                            animation: confirm-fin 0.7s both;
                        }
                    }
                }
            }
        }
    }
}

@for $plats from 1 to 11 {
    .plats-#{$plats} {
        animation-delay: #{$plats * 0.3 + 1.5}s ;
    }
}